.grid-row {
  position: relative;

  .grid-element {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    overflow: hidden;

    .cell {
      transition: opacity 100ms linear;
    }

    // &.pressed .cell {
    //   background-color: red;
    // }

    &.hover .cell {
      opacity: 0.5;
    }

    transition: transform 200ms linear;
  }
}
