.grid-row {
  position: relative;

  .grid-element {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;

    .cell {
      transition: opacity 100ms linear;
    }

    // &.pressed .cell {
    //   background-color: red;
    // }

    &.hover .cell {
      opacity: 0.5;
    }

    transition: transform 200ms linear;
  }

  .new-row {
    position: absolute;
    left: 0;
    height: 40px;
    width: 100%;
    border: 1px solid block;

    &.before { top: -20px; }
    &.after { bottom: -20px; }
  }
}
