.grid-row {
  position: relative;

  .grid-element {
    // pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    overflow: hidden;
    opacity: 0;

    .cell {
      transition: opacity 100ms linear;
      background-size: 100% 100%;
    }

    // &.pressed .cell {
    //   background-color: red;
    // }

    &.hover .cell {
      opacity: 0.5;
    }

    // transition: transform 200ms linear;
  }
}
